<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984597696086-nuortiesil6hs2c51lvt5vquu8skfltm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984597696086-nuortiesil6hs2c51lvt5vquu8skfltm</string>
	<key>API_KEY</key>
	<string>AIzaSyBE64smO4D9PJbD8KJRJLLix9jEhOa5UUg</string>
	<key>GCM_SENDER_ID</key>
	<string>984597696086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobmaxime.FirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-1e5f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-1e5f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984597696086:ios:762e7578c9099121fc75f7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sample-1e5f7.firebaseio.com</string>
</dict>
</plist>